apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output
  labels:
    app: log-output
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      containers:
        - name: log-output
          image: haydar26/log-output:v1.0.0
          imagePullPolicy: IfNotPresent
          # no ports required; it's just stdout logs
          resources:
            limits:
              cpu: "100m"
              memory: "128Mi"

---
apiVersion: v1
kind: Service
metadata:
  name: log-output-clusterip
spec:
  selector:
    app: log-output
  ports:
    - port: 80
      targetPort: 80
  type: ClusterIP
