apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output
  namespace: exercises
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      containers:
      - name: log-output
        image: haydar26/log-output:latest
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: "25m"
            memory: "64Mi"
          limits:
            cpu: "200m"
            memory: "128Mi"
        env:
        - name: MESSAGE
          valueFrom:
            configMapKeyRef:
              name: log-output-config
              key: MESSAGE
        - name: CONFIG_FILE_PATH
          value: "/config/information.txt"
        - name: PING_PONG_URL
          value: "http://ping-pong:3000/"
        - name: HTTP_PORT
          value: "8080"
        - name: SLEEP_INTERVAL
          value: "5"
        volumeMounts:
        - name: config-volume
          mountPath: /config
          readOnly: true
        readinessProbe:
          httpGet:
            path: /ready
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 5
      volumes:
      - name: config-volume
        configMap:
          name: log-output-config
