apiVersion: v1
kind: PersistentVolume
metadata:
  name: shared-pv
spec:
  storageClassName: local-path
  capacity:
    storage: 1Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce   # local PV in k3d only supports RWO
  local:
    path: /tmp/kube     # directory on host node
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - k3d-k3s-default-server-0  # <-- matches node where pods run
  persistentVolumeReclaimPolicy: Retain
