apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo
  template:
    metadata:
      labels:
        app: todo
    spec:
      containers:
        - name: todo
          image: haydar26/todo-app:latest
          ports:
            - containerPort: 3000
          env:
            - name: PORT
              value: "3000"
          volumeMounts:
            - name: image-storage
              mountPath: /app/data  # matches your index.js cache folder
      volumes:
        - name: image-storage
          persistentVolumeClaim:
            claimName: image-pvc
