apiVersion: v1
kind: PersistentVolume
metadata:
  name: image-pv
spec:
  storageClassName: local-path
  capacity:
    storage: 1Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  local:
    path: /tmp/kube  # host directory
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - k3d-k3s-default-server-0
  persistentVolumeReclaimPolicy: Retain
