apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-frontend
  template:
    metadata:
      labels:
        app: todo-frontend
    spec:
      containers:
        - name: frontend
          image: haydar26/todo-frontend:latest
          ports:
            - containerPort: 3000
          env:
            - name: TODO_BACKEND_URL
              value: "http://todo-backend:3001"  # must match your backend Service
